In [1]:
# Dependencies
import os 
import csv
import pandas as pd

In [2]:
# File location
budget_csv = os.path.join('Resources/budget_data.csv')

In [3]:
df = pd.read_csv(budget_csv)
df

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [4]:
# Create lists for the variables
months = []
profit = []
monthly_profit_change = []

In [6]:
# Open csv file
with open(budget_csv, newline="") as budget:
    csvreader = csv.reader(budget, delimiter=",") 
    csv_header = next(csvreader)  
    
    # Loop through rows
    for row in csvreader: 

        # Add total months and total profit to lists
        months.append(row[0])
        profit.append(int(row[1]))
        
    # Loop through profit in order to get the monthly change in profit
    for i in range(len(profit)-1):
        
        # Summing up monthly profit changes
        monthly_profit_change.append(profit[i+1]-profit[i])

In [7]:
months

['Jan-10',
 'Feb-10',
 'Mar-10',
 'Apr-10',
 'May-10',
 'Jun-10',
 'Jul-10',
 'Aug-10',
 'Sep-10',
 'Oct-10',
 'Nov-10',
 'Dec-10',
 'Jan-11',
 'Feb-11',
 'Mar-11',
 'Apr-11',
 'May-11',
 'Jun-11',
 'Jul-11',
 'Aug-11',
 'Sep-11',
 'Oct-11',
 'Nov-11',
 'Dec-11',
 'Jan-12',
 'Feb-12',
 'Mar-12',
 'Apr-12',
 'May-12',
 'Jun-12',
 'Jul-12',
 'Aug-12',
 'Sep-12',
 'Oct-12',
 'Nov-12',
 'Dec-12',
 'Jan-13',
 'Feb-13',
 'Mar-13',
 'Apr-13',
 'May-13',
 'Jun-13',
 'Jul-13',
 'Aug-13',
 'Sep-13',
 'Oct-13',
 'Nov-13',
 'Dec-13',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15',
 'Mar-15',
 'Apr-15',
 'May-15',
 'Jun-15',
 'Jul-15',
 'Aug-15',
 'Sep-15',
 'Oct-15',
 'Nov-15',
 'Dec-15',
 'Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17']

In [8]:
profit

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

In [9]:
monthly_profit_change

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [10]:
# Max and min from monthly profit change list
max_up = max(monthly_profit_change)
max_down = min(monthly_profit_change)

In [11]:
max_up

1926159

In [12]:
max_down

-2196167

In [14]:
# Link up the max and min to the corresponding month using month list and index from max / min
max_increase_month = monthly_profit_change.index(max(monthly_profit_change)) + 1
max_decrease_month = monthly_profit_change.index(min(monthly_profit_change)) + 1

In [15]:
max_increase_month

25

In [16]:
max_decrease_month

44

In [ ]:
# Print to Bash
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {len(months)}")
print(f"Total Profit: ${sum(profit)}")
print(f"Average Change: ${round(sum(monthly_profit_change)/len(monthly_profit_change),2)}")
print(f"Greatest Increase in Profits: {months[max_increase_month]} (${(str(max_up))})")
print(f"Greatest Decrease in Profits: {months[max_decrease_month]} (${(str(max_down))})")

In [ ]:
# Output file
output_file = os.path.join('Financial_Analysis_Summary.txt')

In [ ]:
with open(output_file,"w") as datafile:
    
# Write Financial Analysis to .txt file 
    datafile.write("Financial Analysis")
    datafile.write("\n")
    datafile.write("----------------------------")
    datafile.write("\n")
    datafile.write(f"Total Months: {len(months)}")
    datafile.write("\n")
    datafile.write(f"Total Profit: ${sum(profit)}")
    datafile.write("\n")
    datafile.write(f"Average Change: ${round(sum(monthly_profit_change)/len(monthly_profit_change),2)}")
    datafile.write("\n")
    datafile.write(f"Greatest Increase in Profits: {months[max_increase_month]} (${(str(max_up))})")
    datafile.write("\n")
    datafile.write(f"Greatest Decrease in Profits: {months[max_decrease_month]} (${(str(max_down))})")